<div class="card">
    
      <div class="card-content">
        <div class="card-header">
          <h5 class="card-title">Formulario de usuario: {{(user.id > 0) ? 'Actualizar' : 'Crear' }}</h5>          
        </div>
        <div class="card-body">
          
            <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
  
                <div>
                    <input class="form-control my-2" placeholder="Nombre" name="name"
                        [(ngModel)]="user.name"
                        #name="ngModel"
                    > <!-- required -->
                    <!-- Validación y error de backend -->
                    @if(errors?.name){
                        <div class="text-danger">{{errors.name}}</div>
                    }
                    <!-- Validación y error de angular -->
                    @if(name.invalid && (name.dirty || name.touched)){
                        @if(name.errors!['required']){
                            <div class="text-danger">
                                El nombre es requerido
                            </div>
                        }
                    }
                </div>
                
                <div>
                    <input class="form-control my-2" placeholder="Apellido" name="lastname"
                        [(ngModel)]="user.lastname"
                        #lastname="ngModel"
                    > <!-- required -->
                    <!-- Validación y error de backend -->
                    @if(errors?.lastname){
                        <div class="text-danger">{{errors.lastname}}</div>
                    }
                    <!-- Validación y error de angular -->
                    @if(lastname.invalid && (lastname.dirty || lastname.touched)){
                        @if(lastname.errors!['required']){
                            <div class="text-danger">
                                El apellido es requerido
                            </div>
                        }
                    }
                </div>
            
                <div>
                    <input class="form-control my-2" placeholder="Correo" name="email"
                        type="email" [(ngModel)]="user.email" 
                        #email="ngModel"
                    > <!-- required email -->
                    <!-- Validación y error de backend -->
                    @if(errors?.email){
                        <div class="text-danger">{{errors.email}}</div>
                    }
                    <!-- Validación y error de angular -->
                    @if(email.invalid && (email.dirty || email.touched)){
                        @if(email.errors!['required']){
                            <div class="text-danger">
                                El correo es requerido
                            </div>
                        }
                        @if(email.errors!['email']){
                            <div class="text-danger">
                                El correo no cumple con el formato correcto
                            </div>
                        }
                    }
                </div>

                <div>
                    <input class="form-control my-2" placeholder="Nombre de ususario" name="username"
                        [(ngModel)]="user.username"
                        #username="ngModel"
                    > <!-- required minlength="8" -->
                    <!-- Validación y error de backend -->
                    @if(errors?.username){
                        <div class="text-danger">{{errors.username}}</div>
                    }
                    <!-- Validación y error de angular -->
                    @if(username.invalid && (username.dirty || username.touched)){
                        @if(username.errors!['required']){
                            <div class="text-danger">
                                El nombre de usuario es requerido
                            </div>
                        }
                        @if(username.errors!['minlength']){
                            <div class="text-danger">
                                Username debe tener al menos 8 caracteres
                            </div>
                        }
                    }
                </div>
                
                @if(user.id == null){
                    <div>
                        <input class="form-control my-2" placeholder="Contraseña" name="password"
                            type="password" [(ngModel)]="user.password"
                            #password="ngModel"
                        > <!-- required minlength="6" -->
                        <!-- Validación y error de backend -->
                        @if(errors?.password){
                            <div class="text-danger">{{errors.password}}</div>
                        }
                        <!-- Validación y error de angular -->
                        @if(password.invalid && (password.dirty || password.touched)){
                            @if(password.errors!['required']){
                                <div class="text-danger">
                                    La contraseña es requerida
                                </div>
                            }
                            @if(password.errors!['minlength']){
                                <div class="text-danger">
                                    La contraseña debe tener al menos 6 caracteres
                                </div>
                            }
                        }
                    </div>
                }

                <div class="fomr-check my-2">
                    <input type="checkbox" name="admin" class="form-check-input" 
                        [(ngModel)]="user.admin" />
                    <label class="fomr-check-label">Admin</label>
                </div>
            
                <div>
                   <button type="submit" class="btn btn-primary m-2">
                        <!-- [disabled]="userForm.invalid" -->
                            {{(user.id > 0) ? 'Actualizar' : 'Crear' }}
                    </button>
                    
                    <button type="button" class="btn btn-secondary my-2"
                        (click)="onClear(userForm)">
                        Limpiar
                    </button>
                </div>
            
            </form>


        </div>
      </div>
    
</div>