<div class="card">
    <div class="card-header">
        <h5 class="card-title">Login-Page</h5>
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()">
            <input name="username" class="form-control mb-2 w-25" placeholder="username"
                [(ngModel)]="user.username">
            <input type="password" name="password" class="form-control my-2 w-25" placeholder="password"
                [(ngModel)]="user.password">
            <button class="btn btn-primary my-2" type="submit">Login</button>
        </form>
    </div>
</div>
